#edit{width: 600px; padding: 5px; background: #eee; margin: 0px auto;}
#edit textarea{width: 600px; height: 300px;}
#E_iframe{width:600px; height: 300px; background: #fff;}
#E_toolbar{width: 600px; overflow: hidden;}
#E_toolbar .colorpicker{background: #fff; border: 2px solid #ddd}
#E_toolbar #color_result{height: 20px;}
#E_toolbar .button{display: block; float:left; border: 1px solid #ccc; margin: 2px 0px 2px 5px; cursor: pointer; background-image: url('./img/o_tinymce.gif');}
#E_toolbar .button:hover{color:#fff;border-color:#fff #aaa #aaa #fff;}
div.fontPicker{display: none; height:150px; overflow: auto; position: absolute; background: #fff; border: 1px solid #ddd;}
div.fontPicker a{display: block; padding: 5px 2px; cursor: pointer;}
div.fontPicker a:hover{background: #ddd}
.colorpicker{display: none; position:absolute;}
.colorpicker .cell td{width:12px; height:12px; cursor: pointer;}
#color_view{width:100px;}